/*Содержимое файла: 
preloaderStyles;------------------------------------
основные стили;-------------------------------------
animations;-----------------------------------------
media-querries;-------------------------------------*/

/*Preloader*/
.preloader_area{
	position: fixed;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #fff;
	z-index: 999998;
}
.preloader{
	z-index: 999999;
	padding:0;
	margin:0;
	color: #00baff;
	font-size: 4em;
	-webkit-animation-name: rotate;
	        animation-name: rotate;
	-webkit-animation-delay:0s;
	        animation-delay:0s;
	-webkit-animation-direction: normal;
	        animation-direction: normal;
	-webkit-animation-duration: 4s;
	        animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}


@-webkit-keyframes rotate{
	0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}


@keyframes rotate{
	0%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

/*Типография----------------------------------------------------------------*/

p{
	width: 100%; /*для IE*/
}

a{
	color: black;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover{
	color: black;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}

/*Спецификации----------------------------------------------------------------*/

body{
	font-family: 'Roboto-Condensed-Regular', sans-serif;
}

section{
	padding: 70px 0;
}

.horizontalLine{
	display:block;
	background-color: white;
	height: 4px;
	width: 70%;
}

.horizontalLine--dark{
	background-color: rgba(0,0,0,.6);
}

.section__heading {
	font-family: 'Roboto-Condensed-Bold';
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	white-space: nowrap;
}

.section__heading--white{
	color: #fff;
}

.section-heading--withLightBorder{
	border: 10px solid rgba(255,255,255,.5);
}

.section-heading--withDarkBorder{
	border: 10px solid rgba(0,0,0,.5);
}


/*Header-------------------------------------------------------------------*/
.header{
}

.navbar{
	background-color: rgba(0,0,0,.7);
}

.nav-link{
	font-size: 20px;
}

/*MainBanner---------------------------------------------------------------*/
.mainBanner{
	width: 100%;
	min-height:100vh;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-image: url('../img/MainBanner/mainBanner_section_bg_image.jpg');
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.mainBanner__strip{
	display: block;
	width: 100%;
	height:20px;
	background-color: rgba(255,255,255,.5);
}

.mainBanner__heading{
	border: 10px solid rgba(255,255,255,.5);
}

.h1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 60px;
	color:white;
	text-transform: uppercase;
}

.h1__firstPart{
	font-size: 100px;
	color: #fc635e;
}

.orderButton{
	display: block;
	width: 100%;
	border-radius: 30px;
	padding: 13px;
	margin: 20vh 0 0 0;
	background-color: #00baff;
	text-align: center;
	color:white;
	font-family: 'Roboto-Medium' , sans-serif;
	letter-spacing: .075em;
}

.orderButton:hover{
	background-color: #008aff;
	color: white;
}

/*About-Me---------------------------------------------------------------------*/
.aboutMe{
	background-color: #fc635e;
}

.infoPannel{
	margin-top: 45px;
}

.infoPannel__item{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	background-color: rgba(255,255,255, 0.7);
	border-radius: 10px;
	padding: 20px 15px;
}

.infoPannel__item:hover{
	background-color: rgba(255,255,255, 1);
}

.infoPannelItem__icon{
	font-size: 50px;
	color: #fc635e;
}

.infoPannelItem__heading{
	font-family: 'Roboto-Medium',sans-serif;
	font-size: 28px;
	white-space: nowrap;
	margin-top: 30px;
}

.infoPannelItem__content{
	text-align: justify;
	margin-top: 10px;
}

.infoPannelItem__click{
	font-size: 30px;
	color: #fc635e;
	cursor: pointer;
	-webkit-animation: clickToResume 1s ease infinite;
	        animation: clickToResume 1s ease infinite;
}

.infoPannelItem__click:hover{
	color: #06ff00;
}

/*UsedTechnologies---------------------------------------------------------*/
.usedTechnologies {
	min-height: 100vh;
	background-image: url(../img/UsedTechnologies/usedTechnologies_section_bg_image.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.technologiesPannel{
	margin-top: 50px;
}

.technologiesPannel__item{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #fff;
	padding: 30px 20px 40px 20px;
}

.technologiesPannel__item:hover .technoPannelItem__icon{
	-webkit-animation: icon__rotate 1s ease-in-out infinite;
	        animation: icon__rotate 1s ease-in-out infinite;
}


.technologiesPannel__item:hover .fa-html5{
	color:orange;
}

.technologiesPannel__item:hover .fa-code{
	color:#999999;
}

.technologiesPannel__item:hover .fa-check{
	color:#06ff00;
}

.technologiesPannel__item:hover .fa-chrome{
	color:red;
}

.technologiesPannel__item:hover .fa-mobile-alt{
	color:#000;
}

.technologiesPannel__item:hover .fa-pied-piper-pp{
	color:#005aff;
}

.technologiesPannel__item--blue{
	background-color: #00baff;
	color: #fff;
}

.technoPannelItem__icon{
	font-size: 50px;
} 

.technoPannelItem__heading{
	text-transform: uppercase;
	margin-top: 10px;
}

.technoPannelItem__content{
	font-family: 'Roboto-Condensed-Regular',sans-serif;
	font-size: 18px;
	line-height: 26px;
	text-align: justify;
	margin: 35px 0 0 0;
}

/*WorkExamples---------------------------------------------------------*/

.workExamples{
	background-color: #ff9595;
}

.workExaples__list{
	margin: 40px 0 0 0;
}

.examples__item{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	padding: 0;
}

.examples__item:hover{
	-webkit-box-shadow: 0px 0px 10px 3px #8f8f8f;
	        box-shadow: 0px 0px 10px 3px #8f8f8f;
}

.examplesItem__info{
	width: 100%;
	height: 100%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: rgba(0,186,255,0.95);
	position:absolute;
	z-index: -1;
	margin: 0;
	padding: 0;
}

.workExamples .information-list{
	list-style: none;
	margin:0;
	padding:0;
}

.workExamples .information-list__item{
	color: #fff;
	text-align: justify;
	margin:0;
	padding:0;
}

.examplesItem__moreIcon{
	font-size: 70px;
	color: #fff;
}

.examples__item:hover .examplesItem__info{
	z-index: +10;
	-webkit-animation: appear 0.5s ease 1;
	        animation: appear 0.5s ease 1;
}


/*Contacts--------------------------------------------------------------*/
.contacts{
	min-height: 100vh;
	background-color: red;
	background-image: url('../img/contacts/contacts_section_bg_image.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}


.phoneNumbers__item{
	font-family: "Arial", sans-serif;
	font-size: 35px;
	text-align: center;
	color: gray;
	border: 2px solid white;
	border-radius: 50px;
}

.phoneNumbers__digits{
	height: 100%;
	font-size: 30px;
	font-weight: 400;
	vertical-align: center;
	color: gray;
}

.socials__list{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	list-style: none;
	padding:0;
}

.socials__item{
	padding:0;
	margin:0;
}

.socials__link{
	font-size: 50px;
	color:gray;
	margin: 0 15px;
}

.socials__item:hover {
	-webkit-animation: socials-item-animation 0.3s ease-in-out 1;
	        animation: socials-item-animation 0.3s ease-in-out 1;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

.socials__icon--vk:hover {
	-webkit-animation: vk-icon-animation 0.5s ease-in-out 1;
	        animation: vk-icon-animation 0.5s ease-in-out 1;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}
.socials__icon--twitter:hover {
	-webkit-animation: twitter-icon-animation 0.5s ease-in-out 1;
	        animation: twitter-icon-animation 0.5s ease-in-out 1;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

.socials__icon--mail:hover {
	-webkit-animation: mail-icon-animation 0.5s ease-in-out 1;
	        animation: mail-icon-animation 0.5s ease-in-out 1;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

.socials__icon--facebook:hover {
	-webkit-animation: facebook-icon-animation 0.5180s ease-in-out 1;
	        animation: facebook-icon-animation 0.5180s ease-in-out 1;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

.socials__icon--googlePlus:hover {
	-webkit-animation: googlePlus-icon-animation 0.5s ease-in-out 1;
	        animation: googlePlus-icon-animation 0.5s ease-in-out 1;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

.socials__icon--insta:hover {
	-webkit-animation: insta-icon-animation 0.5s ease-in-out 1;
	        animation: insta-icon-animation 0.5s ease-in-out 1;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

/*Footer-----------------------------------------------------------------*/

.footer{
	background-color: rgba(0,0,0,.8);
	color: #fff;
}


/*Animations--------------------------------------------------------------------------
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------*/

/*clickToResume*/

@-webkit-keyframes clickToResume {
	0% { transform: scale(1); }
	50% { transform: scale(1.2); }
	100% { transform: scale(1); }
}
@-o-keyframes clickToResume {
	0% { transform: scale(1); }
	50% { transform: scale(1.2); }
	100% { transform: scale(1); }
}
@-moz-keyframes clickToResume {
	0% { transform: scale(1); }
	50% { transform: scale(1.2); }
	100% { transform: scale(1); }
}
@keyframes clickToResume {
	0% { transform: scale(1); }
	50% { transform: scale(1.2); }
	100% { transform: scale(1); }
}

/*Icon-rotate*/

@-webkit-keyframes icon__rotate {
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}
@-o-keyframes icon__rotate {
	from{totransform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}
@-moz-keyframes icon__rotate {
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}
@keyframes icon__rotate {
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}

/*Appear*/

@-webkit-keyframes appear {
	from {background-color:rgba(0,186,255,0.0);}
	to { background-color: rgba(0,186,255,0.95); }
}
@-o-keyframes appear {
	from { background-color:rgba(0,186,255,0.0); }
	to { background-color: rgba(0,186,255,0.95); }
}
@-moz-keyframes appear {
	from { background-color:rgba(0,186,255,0.0); }
	to { background-color: rgba(0,186,255,0.95); }
}
@keyframes appear {
	from { background-color:rgba(0,186,255,0.0); }
	to { background-color: rgba(0,186,255,0.95); }
}

/*Socials Animations*/

@-webkit-keyframes socials-item-animation {
	0%{color:black;}
	100%{transform: rotateY(0deg);color:#ff3131;}
}
@-o-keyframes socials-item-animation {
	0%{transform: rotateY(0deg);}
	50%{transform: rotateY(90deg);color:black;}
	100%{transform: rotateY(0deg);color:#ff3131;}
}
@-moz-keyframes socials-item-animation {
	0%{transform: rotateY(0deg);}
	50%{transform: rotateY(90deg);color:black;}
	100%{transform: rotateY(0deg);color:#ff3131;}
}
@keyframes socials-item-animation {
	0%{transform: rotate(0deg);}
	50%{transform: rotate(90deg);color:black;}
	100%{transform: rotate(0deg);color:#ff3131;}
}

@-webkit-keyframes vk-icon-animation {
	0%{color:black;}
	100%{transform: rotateY(0deg);color:#006cff;}
}
@-o-keyframes vk-icon-animation {
	0%{color:black;}
	100%{transform: rotateY(0deg);color:#006cff;}
}
@-moz-keyframes vk-icon-animation {
	0%{color:black;}
	100%{transform: rotateY(0deg);color:#006cff;}
}
@keyframes vk-icon-animation {
	0%{color:black;}
	100%{transform: rotateY(0deg);color:#006cff;}
}

@-webkit-keyframes mail-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#ff4141;}
}
@-o-keyframes mail-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#ff4141;}
}
@-moz-keyframes mail-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#ff4141;}
}
@keyframes mail-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#ff4141;}
}

@-webkit-keyframes facebook-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#3158ff;}
}
@-o-keyframes facebook-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#3158ff;}
}
@-moz-keyframes facebook-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#3158ff;}
}
@keyframes facebook-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#3158ff;}
}

@-webkit-keyframes googlePlus-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#ff4141;}
}
@-o-keyframes googlePlus-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#ff4141;}
}
@-moz-keyframes googlePlus-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#ff4141;}
}
@keyframes googlePlus-icon-animation {
	0%{color:black;}
	100%{transform: rotateX(0deg);color:#ff4141;}
}

@-webkit-keyframes insta-icon-animation {
	0%{color:black;}
	100%{transform: rotateY(0deg);color:red;}
}
@-o-keyframes insta-icon-animation {
	0%{color:black;}
	100%{transform: rotateY(0deg);color:red;}
}
@-moz-keyframes insta-icon-animation {
	0%{color:black;}
	100%{transform: rotateY(0deg);color:red;}
}
@keyframes insta-icon-animation {
	0%{color:black;}
	100%{transform: rotateY(0deg);color:red;}
}



/*MEDIA-------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------*/


@media screen and (max-width: 1200px){
	/*Спецификации*/
	section{
		padding: 30px 0 30px 0;
	}

	.horizontalLine{
		display:block;
		background-color: white;
		height: 7px;
	}

	.horizontalLine--dark{
		background-color: rgba(0,0,0, .6);
	}

	.section__heading {
		font-family: 'Roboto-Condensed-Bold';
		text-align: center;
		font-size: 40px;
		text-transform: uppercase;
		white-space: nowrap;
	}

	.section__heading--white{
		color: #fff;
	}

	/*Header-------------------------------------------------------------------*/
	.nav-link{
		font-size: 20px;
	}

	/*MainBanner---------------------------------------------------------------*/
	.mainBanner__heading{
		border: 8px solid rgba(255,255,255,.5);
	}

	.h1{
		font-size: 47px;
	}

	.h1__firstPart{
		font-size: 73px;
	}

	/*About-Me---------------------------------------------------------------------*/
	.infoPannel{
		margin: 20px;
	}

	.infoPannelItem__icon{
		font-size: 40px;
	}

	.infoPannelItem__heading{
		margin: 12px 0 0 0;
	}

	/*UsedTechnologies---------------------------------------------------------*/
	.technoPannelItem__content{
		margin: 18px 0 0 0;
	}

	/*WorkExamples---------------------------------------------------------*/

	.workExamples{
	}

	.workExaples__list{
		margin-top: 40px;
	}

	.examples__item{
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		border: 1px solid #999999;
		cursor: pointer;
		padding: 0;
	}

	.examples__item:hover{
		-webkit-box-shadow: 0px 7px 20px 3px #8f8f8f;
		        box-shadow: 0px 7px 20px 3px #8f8f8f;
	}
	/*Contacts--------------------------------------------------------------*/

	.contacts__phoneNumbers{
		margin-top: 20px;
	}

	.socials__link{
		font-size: 25px;
		color:gray;
		margin: 0 15px;
	}
}

@media screen and (max-width: 576px){
	/*Спецификации*/
	section{
		padding: 30px 0 30px 0;
	}

	.horizontalLine{
		display:block;
		background-color: white;
		height: 5px;
	}

	.horizontalLine--dark{
		background-color: rgba(0,0,0,.6);
	}

	.section__heading {
		font-family: 'Roboto-Condensed-Bold';
		text-align: center;
		font-size: 40px;
		text-transform: uppercase;
		white-space: nowrap;
	}

	.section__heading--white{
		color: #fff;
	}

	/*Header-------------------------------------------------------------------*/
	.navbar{
		background-color: rgba(46,46,46,.95);
	}

	.nav-link{
		font-size: 20px;
	}


	/*MainBanner---------------------------------------------------------------*/
	.mainBanner__heading{
		border: 8px solid rgba(255,255,255,.5);
	}

	.h1{
		font-size: 20px;
	}

	.h1__firstPart{
		font-size: 33px;
	}

	/*About-Me---------------------------------------------------------------------*/
	.infoPannel{
		margin: 20px;
	}

	.infoPannelItem__icon{
		font-size: 40px;
	}

	.infoPannelItem__heading{
	font-size: 22px;
	margin-top: 12px;
	}

	/*UsedTechnologies---------------------------------------------------------*/
	.technoPannelItem__content{
		margin: 18px 0 0 0;
	}

	/*WorkExamples---------------------------------------------------------*/

	.workExamples{
	}

	.workExaples__list{
		margin: 40px 0 0 0;
	}

	/*Contacts--------------------------------------------------------------*/
	.contacts__phoneNumbers{
		margin-top: 20px;
	}

	.phoneNumbers__digits{
	font-size: 20px;
	}

	.socials__link{
		font-size: 25px;
		color:gray;
		margin: 0 15px;
	}
}