/*Спецификации*/
body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	scroll-behavior: smooth;
}

.preloader{
	width:100%;
	height: 100%;
	background-color: #e5e5e5;
	font-size: 4em;
	color: black;
	text-shadow: 2px 2px 2px white;
	position: fixed;
	z-index:999999;
	display: flex;
	justify-content: center;
	top:0;
	align-items: center;
}

div{
	box-sizing: border-box;
}

img{
	display: block;
	cursor: pointer;
}

a{
	text-decoration: none;
}

h1{
	font-family: 'Playfair Display', sans-serif;
	font-size: 101.3px;
	font-weight: 400;
}


.container{
	width: 1660px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.content-position-right{
	width:1280px;
	margin-top:0;
	margin-left:auto;
	padding:0;

}

.description_of_title{
	font-family:'Myriad Pro', sans-serif;
	font-size: 16px;
	color:#6e7478;
	line-height: 32px;
}

/*Header SECTION - logo + nav-menu*/
.header{
	min-height: 130px;
}

.logo{
	float: left;
	margin: 40px 0 0 245px;
}

nav{
	float: right;
	margin: 60px 200px 0 0;
}

.menu{
	margin:0;
	padding:0;
}

.menu__item{
	float: left;
	list-style: none;
	margin-left: 70px;
}

.menu__item a{
	color: #b7b9bb;
	font-size: 14px;
	text-transform: uppercase;
}

/*history_of_London SECTION*/
.history_of_London .container .welcome_to_london{
	display:flex;
	align-items: flex-end;
}

.history_of_London .welcome{
	width: 120px;
	margin-left: 105px;
	margin-bottom:12px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
}

.history_of_London .london{
	margin-left:20px;
	margin-bottom: 8px;
	padding:0 ;
}

.tower_bridge{
	margin-left: 30px;
}

.the_square_mile{
	margin-top: 150px;
	margin-bottom: 120px;
	display:flex;
	justify-content: flex-end;
}

.the_square_mile h1{
	margin: 0 40px 0 0;
	padding:0;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 55.51px;
}

.the_square_mile p{
	margin-right: 100px;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	color:#6e7478;
	line-height: 25px;
}

/*Roman London SECTION*/

.roman_london .content-position-right{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	margin-bottom: 250px;
}

.roman_london .text_roman_london{
	margin-right:175px;
}

/*Transports SECTION*/

.transport .underground{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.transport .underground-description{
	padding-right: 120px;
	padding-left:65px;
}

.transport .underground-description .description_of_title{
	margin:0;
	font-style: italic;
	text-align: justify;
}

.transport .author{
	margin: 40px 0 0 0;
	padding:0;
	font-family:'Myriad Pro', sans-serif;
	font-size: 16px;
	color:#000;
	font-weight: 600;
	text-align: right;
}

.transport h2{
	margin: 125px 0 0 0;
	padding:0;
	font-family: 'Playfair Display', serif;
	font-size: 53px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 10px;
	color: #000;
}

.transport .transport_images{
	display:flex;
	justify-content: space-between;
	margin-top: 75px;
	margin-bottom: 345px;
	padding:0;
}

/*INTERESTING FACTS SECTION*/

.interesting_facts h1{
	font-family: 'Playfair Display', serif;
	font-size: 47.5px;
	color: #000;
}

.interesting_facts .facts_about_london{
	margin: 0 0 300px 0;
	display:flex;
	justify-content: space-between;
	text-align: justify;
}

.interesting_facts .first_fact{
	margin:0;
}

.interesting_facts .second_fact{
	margin:0 100px;
}

.interesting_facts .third_fact{
	margin:0 30px 0 0;
}

/*NIGHTS IN LONDON SECTION*/

.nights_in_london .content-position-right img{
	margin-bottom:325px;
}

/*PLACES TO VISIT SECTION*/

.places_to_visit h1{
	letter-spacing: 4px;
	padding:0;
	margin:0;
}

.places_to_visit p{
	letter-spacing: 0.2px;
	margin:40px 0 0 0;
	padding:0;
}

.places_to_visit img{
	display: block;
}

.places_to_visit .places_to_visit_images{
	display: flex;
	justify-content: flex-start;
	margin-top: 100px;
	margin-bottom: 255px;
}

.places_to_visit .places_to_visit_images .second_plan_img{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	margin-left: 35px;
	
}

.places_to_visit .interested{
	margin-bottom: 100px;
}

/*CONTACTS SECTION*/

.contacts .content-position-right{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 200px;
}

.contacts .content-position-right h2{
	font-family: 'Playfair Display', serif;
	font-size: 32px;
	font-weight: 500;
	color: #000;
}

.contacts ul, .contacts a{
	padding:0;
	list-style: none;
	font-family: 'Myriad Pro', sans-serif;
	font-size: 16px;
	color:#6e7478;
	line-height: 28px;
}

.contacts .Visit_The_Office{
	margin-left: 200px;
}



/*FOOTER SECTION*/
footer{
	min-height: 60px;
	background-color: gray;
}
footer p{
	text-align: right;
	color: #fff;
	font-family: 'Playfair Display', sans-serif;;
}